<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nckh2016.vuduytung.nckh2016">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nckh2016.vuduytung.nckh2016.MainActivity" />
        </activity>
        <activity
            android:name=".TaoTaiKhoanActivity"
            android:label="@string/title_activity_tao_tai_khoan"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nckh2016.vuduytung.nckh2016.MainActivity" />
        </activity>
        <activity
            android:name=".QuanLyTaiKhoanActivity"
            android:label="@string/title_activity_quan_ly_tai_khoan"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nckh2016.vuduytung.nckh2016.MainActivity" />
        </activity>

        <activity
            android:name=".ChiTietMonHocActivity"
            android:label="@string/title_activity_chi_tiet_mon_hoc"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nckh2016.vuduytung.nckh2016.MainActivity" />
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ThongTinCaNhanActivity"
            android:label="@string/title_activity_thong_tin_ca_nhan"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".QuanLyKeHoachHocTapActivity"
            android:label="@string/title_activity_quan_ly_ke_hoach_hoc_tap"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MonHocChuaQuaActivity"
            android:label="@string/title_activity_mon_hoc_chua_qua"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".KeHoachHocTapActivity"
            android:label="@string/title_activity_ke_hoach_hoc_tap"
            android:launchMode="singleTask"
            android:parentActivityName=".QuanLyKeHoachHocTapActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nckh2016.vuduytung.nckh2016.QuanLyKeHoachHocTapActivity" />
        </activity>
        <activity
            android:name=".BangDiemActivity"
            android:label="@string/title_activity_bang_diem2"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BoMonActivity"
            android:label="@string/title_activity_bo_mon"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nckh2016.vuduytung.nckh2016.MainActivity" />
        </activity>
        <activity
            android:name=".NganhActivity"
            android:label="@string/title_activity_nganh"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nckh2016.vuduytung.nckh2016.MainActivity" />
        </activity>

    </application>

</manifest>
